body {
    font-family: "Montserrat";
    padding-left: 20px;
    padding-right: 20px;
   
  }
  h1{
    color: #cf1b1b;
    font-family: "sans serif";
  }

  h2{
    font-family: cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #ffd31d;
    text-shadow: 4px 4px black;
  }
  /* Containers */

.container-fluid{
    padding-right: 1%;
    padding-left: 1%;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #30475e;
    color: #fff;

  }
  .navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    font-family: "Ubuntu";
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 32px;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
  @media (max-width: 532px){
    .navbar-brand{
      font-size: 20px;
    }
  }
  @media (max-width: 283px){
    .navbar-brand{
      font-size: 10px;
      padding-left: 0;
    }
  }
  /* text box */
  #myText{
      width: 400px;
  }

  /* class safari*/
  .safari{
      background-color: #cf7500;
      height: 50px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
}
.responsive {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 60px;
  max-width: 100%;
  max-height: auto;
  position: relative;
  object-fit:cover;
  padding-left: 20px;
}

  span{
      padding: 2%;
      color: #fff;
      font-size: 12px;
  }

  .mid{
      padding-top: 50px;
      padding-bottom: 60px;
      padding-right: 100px;
      padding-left: 100px;
      /*background-color: lemonchiffon;*/
  }
  .mid h1{
  color: #cf7500;
  }
  .mid h4{
      color: #1d2d50;
      
  }
  .row{
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
  .color{
    padding: 0;
    color: #cf7500 ;
    font-size: 18px;
  }
  /*blining effect*/
blink {
  -webkit-animation: 1s linear infinite condemned_blink_effect;
  animation: 1s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.row ul li{
  padding:  15px;
}
.row ol li{
  padding:  15px;
}
.call{
  background-color: #cf7500;
  padding:10px;
  color: #fff;
  height: auto;
  margin: auto;
  text-align: center;
  
}
.call button{
  width: 50%;
  border: ivory;
  color: #c8d5b9;
  background-color:#1d2d50 ;
}
.call button:hover{
    background-color: #fff;
}
.normal{
  padding-top: 60px;
  padding-right: 100px;
  padding-left: 100px;
    
}
.last{
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  
}
.last ul li{
  color: #30475e;
  margin: auto;
  text-align: center;
}
.last ul li:hover{
  color: blue;
}
.end{
  padding: 40px;
  background-color: cornsilk;
  height: auto;
}
.end h6{
  padding-right: 400px;
  color: #30475e;
  
}
.Pay{
    background-color: burlywood;
    border-radius: 45%;
    width: 50%
}
.btn {
  width: 100%;
  border: none;
  color:red;
  background-color: #1d2d50;
  padding: 14px 28px;;
  font-size: 1.8vw;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}